:root {
    --main-color: #222;
    --sub-color: white;


}

    *{
        margin: 0;
        padding: 0;
        font-family: 'Manrope', sans-serif;

    }

    body{
        min-height: 100vh;
        background-color: var(--main-color);
    }

    .boxing{
        border: 2px solid red;
    }

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
    }
    .logoLintfort{
        height: 40px;
        width: 40px;
        background-image: url(images/132px-DEU_Kamp-Lintfort_COA.svg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .trenner{
        position: fixed;
        box-sizing: border-box;
        height: 110px;
        width: 360px;
        background-color: #222;
        bottom: 0;
    }
    .containerHome{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .cardheader{
        margin: 12px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        width: 320px;
        background-color: rgb(41, 40, 40);
        border-radius: 12px;
        margin-top: -30px;
    }
    .cardheader p{
        color: white;
        font-size: 30px;
        border-bottom:3px solid #508ae6;
    }
    .card{
        margin: 12px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 550px;
        width: 320px;
        background-color: rgb(41, 40, 40);
        border-radius: 12px;
    }
    .card .image1{
        margin-top: 10px;
        background-image: url(images/bahnhof_neuenhaus.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 225px;
        width: 290px;
        margin-bottom: 10px;
        border-radius: 12px;
    }
    .card .image2{
        margin-top: 10px;
        background-image: url(images/20200407Zechenpark-63-768x512.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 225px;
        width: 290px;
        margin-bottom: 10px;
        border-radius: 12px;
    }
    .card .heading{
        color: white;
        font-size: 22px;
        height: 50px;
        width: 290px;
        border-top: 2px solid #4f4f4f;
    }
    .card .bottom{
        padding: 0 10px;
        color: white;
        font-size: 16px;
        height: 175px;
        align-self: left;
    }

    .buttoncard{
        background-color: #508ae6;
        color: white;
        font-size: 20px;
        height: 60px;
        width: 220px;
        border: none;
        border-radius: 12px;
        font-family: 'Manrope', sans-serif;
    }
    .whitespace{
        height: 200px;
        width: 100%;
}


    .navigation{
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 70px;
        background-color: #3b3b3b;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigation ul{
        box-sizing: border-box;
        display: flex;
        width: 350px
    }
    .navigation ul li{
        box-sizing: border-box;
        position: relative;
        list-style: none;
        width: 70px;
        height: 70px;
        z-index: 1;
    }
    .navigation ul li a{
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 100;
    }

    .navigation ul li a .navicon{
        box-sizing: border-box;
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 1.5em;
        text-align: center;
        color: var(--sub-color);
        transition: 0.5s;
    }
    .MainImage{
        height: 300px;
        width: 100%;
        background-image: url(images/7-Kloster-Kamp-u.-Garten-1024x683.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
    .navigation ul li.active a .navicon{
        box-sizing: border-box;
        transform: translateY(-38px);
    }
    .navigation ul li a .navtext{
        box-sizing: border-box;
        position: absolute;
        font-size: 0.75em;
        color: var(--sub-color);
        opacity: 0;
        transition: 0.5s;
        transform: translateY(20px)
    }
    .navigation ul li.active a .navtext{
        box-sizing: border-box;
        transform: translateY(10px);
        opacity: 1;
    }
    .bubble{
        box-sizing: border-box;
        position: absolute;
        top: -50%;
        background-color: #508ae6;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        transition: 0.5s;
        border: 6px solid var(--main-color);
    }
    .bubble::before{
        content: "";
        position: absolute;
        top: 50%;
        left: -22px;
        background-color: transparent;
        width: 20px;
        height: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 -10px 0 0 var(--main-color);

    }
    .bubble::after{
        content: "";
        position: absolute;
        top: 50%;
        right: -22px;
        background-color: transparent;
        width: 20px;
        height: 20px;
        border-top-left-radius: 20px;
        box-shadow: 0 -10px 0 0 var(--main-color);

    }

    .navigation ul li:nth-child(1).active ~ .bubble{
        transform: translateX(calc(70px * 0));
    }
    .navigation ul li:nth-child(2).active ~ .bubble{
        transform: translateX(calc(70px * 1));
    }
    .navigation ul li:nth-child(3).active ~ .bubble{
        transform: translateX(calc(70px * 2));
    }
    .navigation ul li:nth-child(4).active ~ .bubble{
        transform: translateX(calc(70px * 3));
    }
    .navigation ul li:nth-child(5).active ~ .bubble{
        transform: translateX(calc(70px * 4));
    }